#this is sample config file rename it to config.py and edit it acordingly

api_key ='{put you kavehnegar api key here}'
url = 'https://api.kavenegar.com/v1/%s/sms/send.json' % (api_key)


username = "{every user name that you want}"
password = "{every password that you want}"

secret_key = "{place your favrite secret key here}"

# this is mysql datas : 

MYSQL_HOST = "localhost"
MYSQL_USER = "smsmysql"
MYSQL_PASS = "test"
MYSQL_DB = "smsmysql"
charset = "utf8"