<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>صفحه دریافت پیام</title>
    <link href="static/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="get_sms">پیام های دریافت شده</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" action="\">
            <div><button type="submit" class="btn btn-primary btn-lg btn-block" type="submit">ارسال پیام</button>
            </div>
        </form>
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown" style="direction: rtl; text-align: right;">
                    <a class="dropdown-item" href="logout">خروج از سرور</a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">عملیات ها : </div>
                        <a class="nav-link" href="get_sms">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            راه اندازی مجدد</a>
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-sms"></i></div>
                            ارسال پیام جدید</a>
                        <a class="nav-link" href="message_Send">
                            <div class="sb-nav-link-icon"><i class="fas fa-check"></i></div>
                            صفحه پیام ارسال شد</a>
                        <a class="nav-link" href="404">
                            <div class="sb-nav-link-icon"><i class="fas fa-exclamation-circle"></i></div>
                            404</a>
                        <a class="nav-link" href="logout">
                            <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                            خروج از سرور</a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4" style="direction: rtl; text-align: right;">صفحه ارسال پیام</h1><br> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                    <div class="card mb-4">
                        <div class="card-header" style="direction: rtl; text-align: right;"><i class="fas fa-table mr-1"></i> لیست پیام های دریافت شده و ارسال شده : </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-dark" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="direction: rtl; text-align: right;">متن</th>
                                            <th style="direction: rtl; text-align: right;">فرستنده</th>
                                            <th style="direction: rtl; text-align: center;">status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="direction: rtl; text-align: right;">متن</th>
                                            <th style="direction: rtl; text-align: right;">فرستنده</th>
                                            <th style="direction: rtl; text-align: center;">status</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for sms in data.smss %}
                                        <tr>
                                            <td style="direction: ltr; text-align: right;">{{sms.message}}</td>
                                            <td style="direction: ltr; text-align: right;">{{sms.sender}}</td>
                                            <td style="direction: rtl; text-align: center;">{{sms.status}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">get && send sms page</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="static/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="static/assets/demo/chart-area-demo.js"></script>
    <script src="static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="static/assets/demo/datatables-demo.js"></script>
</body>

</html>